@import "webstatic:/static/global.less";

#inbox-pull-requests {
    position: relative;

    .aui-badge {
        .opacity(0);
        .transition(opacity 0.5s ease-in-out);
        background-color: @lozengeRemovedColor;
        color: @lozengeTextColor;
        padding: 3px 2px 2px 2px;
        position: absolute;
        right: 0;
        top: 4px;

        &.visible {
            .opacity(1.0)
        }
    }
}

#inbox-pull-request-table {
    table-layout: fixed;
    width: 100%;

    .project, .repository, .title, .id, .updated, .commentCount, .author, .reviewers {
        width: auto;
    }

    .repository {
        .text-overflow();
        width: 130px;
    }

    .author {
        width: @aui-avatar-size-small + @baseSpacing;

        > div {
            width: @aui-avatar-size-small;
            overflow: hidden;
        }
    }

    .reviewers {
        width: 240px;
    }

    ~ .spinner {
        width: @auiIconLarge;
        height: @auiIconLarge;
        margin: 48px auto 0;
    }
}

#inline-dialog-inbox-pull-requests-content.aui-inline-dialog .contents {
    overflow: auto;
    padding: 0;

    > h2 {
        padding: @baseSpacing @doubleSpacing;
        border-bottom: 1px solid @dividerColor;
    }

    > .inbox-table-wrapper {
        max-height: 400px;
        overflow: auto;
        padding: @baseSpacing @doubleSpacing @doubleSpacing @doubleSpacing;
    }

    > .focus-message {
        margin: @doubleSpacing auto;
    }

    .no-results.pull-request-table-message {
        margin-top: @baseSpacing;
        color: @descriptionTextColor;

        > h3 {
            margin-top: @baseSpacing;
        }
    }
}

#inline-dialog-inbox-pull-requests-content .author > span {
    width: 20px;
}

#inline-dialog-inbox-pull-requests-content .commentCount,
#inline-dialog-inbox-pull-requests-content .source,
#inline-dialog-inbox-pull-requests-content .destination,
#inline-dialog-inbox-pull-requests-content .updated {
    display: none;
}

/* Cannot rely on spinjs to center spinner since dialog popup is shown on timeout */
#inline-dialog-inbox-pull-requests-content .loading-resource-spinner {
    height: 1px;
    width: 1px;
    margin: 50px auto;
}